.experiences {
  color: rgba(186, 186, 186, 0.861);
}

.about-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.first-row {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}

.first-row h1 {
  font-size: 45px;
  height: auto;
  margin-top: 40px;
  color: rgb(255, 4, 251);
  font-family: "Goldman";

}

.first-row p {
  margin-top: 20px;
}

.title{
  font-size: 20px;
}

