* {
  box-sizing: border-box;
  cursor: url(../cursorD.png), auto;
}

.content {
  width: 62%;
  height: 380px;
  color: rgb(183, 183, 183);
  display: flex;
  flex-direction: column;
  font-family: "Goldman", sans-serif;
  position: absolute;
}

.content h1 {
  font-size: 55px;
  height: 200px;
  font-weight: 300;
  color: #ff04fb;
  margin-left: -10px;
  letter-spacing: -1px;
}

h5 {
  font-family: "Roboto mono";
  font-weight: 700;
  line-height: 24px;
  font-size: 25px;
  color: rgb(184, 184, 184);
  letter-spacing: 1px;
}

canvas {
  margin-top: -260px;
  width: 200px;
  height: 975px;
}

.wraper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20%;
  overflow-y: hidden !important;
}

.content h4{
  font-family: "Poppins";
  font-family: "Goldman";
  font-weight: 500;
  font-size: 16px;
  margin-top: -175px;

}

.content h5 {
  font-size: 17px;
  margin-top: 10px;

}

.button {
  background-color: #ffffff00;
  color: #fff;
  width: 12em;
  height: 42px;
  border: rgb(255, 4, 251) 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.3s ease;
  padding: 8px;
  font-weight: 500;
}

.button:hover {
  background-color: rgb(255, 4, 251);
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.1em 0.5em 1em;
  position: absolute;
  display: flex;
  transition: all 0.1s ease;
}

.button:hover svg {
  transform: translateX(20px);
}

.text {
  margin: 0 1.5em;
}

.icon {
  color: white;
  font-size: 30px;
}

.icon:hover {
  color: rgb(255, 4, 251);
  transition: 0.2s;
}



.myDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;
}


@keyframes doubleJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* First jump */
  }
  100% {
    transform: translateY(0); /* Second jump */
  }
}

