.projects-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.projects-section .title {
  width: 83%;
  color: #ff04fb;
  text-align: center;
  font-family: "Goldman";
  font-size: 50px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
}

.projects-cards{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.card{
  width: 570px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(175, 175, 175);
  padding: 30px;
}

.card .image{
   width: 600px;
   max-width: 570px;
   height: 310px;
   display: flex;
   justify-content: center;
   align-items: end;
   background-color: #1a1c23;
   border-top-left-radius: 38px;
   border-top-right-radius: 38px;
   position: relative;
   overflow: hidden;
   position: relative;
}

.image img{
  width: 480px;
  max-width: 480px;
  height: 240px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
  object-fit: cover;
}

.image:hover img{
   width: 480px;
   transform: scale(1.1) rotate(4deg);
   max-width: 480px;

}


.card h5{
  color: #ff04fb;
  width: 115px;
  height: 30px;
  padding: 5px;
  background-color: #1e1f25;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins";
  margin-right: 18px;
  font-size: 12px;
  font-weight: 600;
}

.icons-row{
  width: 450px;
  display: flex;
  padding: 10px;
  margin-top: -38px;
  transition: 2s;
}



.card p{
  padding: 10px;
  margin-top: -26px;
  font-family: "Poppins";
}

.card h2{
  font-family: "Poppins";
  margin-left: 10px;
  color: #dfdfdf;
}
.textbox{
  width: 570px;
  background-color: rgba(6, 8, 19, 0.915);
  padding: 10px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}

.demo-link{
  color: #ff04fb;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

.demo-link:hover{
  border-bottom: 1px solid #ff04fb;
  transition: 0.1s;
}